<div class="form">
        <%= form_for @creature do |f| %>
            <%= f.label :name %><br/>
            <%= f.text_field :name, autofocus: true, class:"input" %><br/>
            <br/> 
            <%= f.label :description %><br/>
            <%= f.text_field :description, class:"input" %><br/>
            <br/>
            <%= f.submit class:"btn btn-primary btn-sm btn-submit"%>
        <% end %>
    </div>
